<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/frags :: head"></head>
<body>
<div class="content">
    <div class="content-inside">
        <div th:insert="fragments/frags :: header"></div>

        <div th:replace="fragments/frags :: background"></div>

        <div class="horoscope">
            <!--<h1 th:text="'Today\'s Horoscope for ' + ${hs.sign}">TODAY'S HOROSCOPE</h1>-->
            <h1 th:text="|Today's Horoscope for ${hs.sign}|">TODAY'S HOROSCOPE</h1>

            <p th:text="${hs.horoscope}">HOROSCOPE</p>

        </div>
    </div>
</div>
<div th:replace="fragments/frags :: disclaimer"></div>
</body>
</html>